@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap);

body {
  font-family: Wingdings, serif;
  font-weight: 400;
}

body span {
  color: red;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #85859B;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.hidden {
  display: none;
}

.logo {
  width: 8.75rem;
  height: 1.375rem;
}

.page-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15.9375rem;
  height: 4.375rem;
  text-align: center;
  border: 1px solid #7875FE;
  color: #7875FE;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #DDDDDD;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 4.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.header__logo {
  margin-right: auto;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-header__link {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.buttons-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 1.875rem;
}

.searh-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.no-webp .searh-button__icon{
  background-image: url(../img/icons/Search.png); }

.searh-button__icon {
  width: 1.5rem;
  height: 24px;
  margin-right: 0.431875rem;
}

.searh-button__input {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15;
  border-bottom: 1px solid #D1D1E6;
  color: #4C5866;
  opacity: 0;
  visibility: hidden;
  max-width: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.searh-button__input::-webkit-input-placeholder {
  color: #D1D1E5;
}

.searh-button__input::-moz-placeholder {
  color: #D1D1E5;
}

.searh-button__input:-ms-input-placeholder {
  color: #D1D1E5;
}

.searh-button__input::-ms-input-placeholder {
  color: #D1D1E5;
}

.searh-button__input::placeholder {
  color: #D1D1E5;
}

.searh-button__input.active {
  opacity: 1;
  visibility: visible;
  max-width: 14rem;
}

.searh-button__close {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #D1D1E5;
  font-size: 0.75rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 2px;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #D1D1E5;
}

.searh-button__close.active {
  opacity: 1;
}

.log-in-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-webp .log-in-button__btn{
  background: url(../img/icons/log-in.png) 0 0/cover; }

.log-in-button__btn {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-menu {
  display: none;
}

.footer__copy {
  color: #4C5866;
  text-transform: uppercase;
  padding: 0.1875rem 0;
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.1538461538;
}

.footer__copy span {
  color: #BCBCBC;
}

.top-footer {
  background-color: #4C5866;
  padding: 1.9375rem 0;
}

.top-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-social__item {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.page-hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-hero__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.page-hero__title {
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 100%;
  color: #4C5866;
  max-width: 27.75rem;
}

.page-hero__text {
  font-weight: 400;
  line-height: 150%;
}

.page-hero__img {
  overflow: hidden;
  position: relative;
}

.page-hero__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages {
  background-color: #EBEBEB;
}

.variants-advantages:not(:last-child) {
  margin-bottom: 5.6875rem;
}

.variants-advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.variants-advantages__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.333% - 1.875rem);
          flex: 0 0 calc(33.333% - 1.875rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[2];
  grid-template-rows: repeat(2, auto);
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  padding-top: 1.1875rem;
  border-top: 1px solid #C0C0C0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.variants-advantages__image {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.variants-advantages__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1.35/1;
}

.variants-advantages__title {
  font-weight: 500;
  line-height: 150%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.variants-advantages__text {
  font-weight: 400;
  line-height: 150%;
}

.content-advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-advantages__image {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.content-advantages__image:not(:last-child) {
  margin-bottom: 1.25rem;
}

.content-advantages__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1.2/1;
}

.content-advantages__title {
  font-weight: 400;
  line-height: 100%;
}

.content-advantages__text {
  font-weight: 400;
  line-height: 170%;
}

.cards-products__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 3.75rem;
}

.cards-products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.cards-products__img:not(:last-child) {
  margin-bottom: 1.25rem;
}

.cards-products__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1.7/1;
}

.cards-products__title {
  font-weight: 400;
  line-height: 1.1666666667;
  color: #666666;
}

.cards-products__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.cards-products__count {
  font-size: 0.875rem;
  line-height: 1.1428571429;
  font-weight: 400;
  color: #B5B5BD;
}

.cards-products__count span {
  color: inherit;
}

.cards-products__text {
  font-weight: 400;
  line-height: 170%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cards-products__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.cards-products__link {
  color: #7875FE;
  font-size: 1.25rem;
  line-height: 1.15;
  font-weight: 400;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cards-products__link::after {
  content: url(../img/icons/Arrow.svg);
  width: 1.25rem;
  margin-left: 0.3125rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.partners {
  background-color: #DDDDDD;
}

.box-partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box-partners__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 1.875rem);
          flex: 0 0 calc(25% - 1.875rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #C4C4C4;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.box-partners__link {
  text-align: center;
}

.box-partners__link img {
  max-width: 80%;
}

.sketchbook {
  padding: 3.75rem 0;
}

.sketchbook__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 21.875rem 1fr;
  grid-template-columns: 21.875rem 1fr;
  -ms-grid-rows: (auto)[4];
  grid-template-rows: repeat(4, auto);
  gap: 0 1.875rem;
  max-height: 25.625rem;
}

.sketchbook__title {
  font-size: 1.5rem;
  line-height: 100%;
  font-weight: 400;
  color: #666666;
}

.sketchbook__text {
  font-weight: 400;
  line-height: 170%;
  font-size: 1rem;
}

.sketchbook__text:not(:last-child) {
  margin-bottom: 1.9375rem;
}

.sketchbook__img {
  grid-row: 1/-1;
  grid-column: 2/-1;
  overflow: hidden;
}

.sketchbook__img img {
  width: 100%;
}

@media (min-width: 71.25em) {
  .page-btn {
    font-size: 1.25rem;
  }

  .section {
    padding-top: 5.625rem;
  }

  .section {
    padding-bottom: 5.625rem;
  }

  .menu-header {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .menu-header {
    margin-right: 3.75rem;
  }

  .searh-button__input.active {
    max-width: 14rem;
  }

  .top-footer {
    padding-top: 1.9375rem;
  }

  .top-footer {
    padding-bottom: 1.9375rem;
  }

  .menu-social {
    -webkit-column-gap: 2.1875rem;
       -moz-column-gap: 2.1875rem;
            column-gap: 2.1875rem;
  }

  .page-hero {
    padding-top: 3.75rem;
  }

  .page-hero__title {
    font-size: 3.75rem;
  }

  .page-hero__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .page-hero__text {
    font-size: 1.125rem;
  }

  .page-hero__text {
    margin-right: 7.8125rem;
  }

  .page-hero__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .page-hero__img {
    height: 35rem;
  }

  .variants-advantages__title {
    font-size: 1.125rem;
  }

  .variants-advantages__text {
    font-size: 1.125rem;
  }

  .content-advantages__image {
    width: 45.625rem;
  }

  .content-advantages__title {
    font-size: 2.5rem;
  }

  .content-advantages__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .content-advantages__text {
    font-size: 1.125rem;
  }

  .cards-products__list {
    row-gap: 3.75rem;
  }

  .cards-products__title {
    font-size: 1.875rem;
  }

  .cards-products__count:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .cards-products__text {
    font-size: 1.125rem;
  }

  .box-partners__item {
    height: 8.4375rem;
  }

  .sketchbook {
    padding-top: 5.625rem;
  }

  .sketchbook {
    padding-bottom: 0.00000625rem;
  }

  .sketchbook__title {
    padding-top: 1.5rem;
  }

  .sketchbook__title {
    font-size: 2.5rem;
  }

  .sketchbook__title:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .sketchbook__text {
    font-size: 1.125rem;
  }
}

@media (max-width: 20em) {
  .page-btn {
    width: 9rem;
  }

  .page-btn {
    font-size: 1.125rem;
  }

  .section {
    padding-top: 3.75rem;
  }

  .section {
    padding-bottom: 3.75rem;
  }

  .searh-button__input.active {
    max-width: 9.375rem;
  }

  .top-footer {
    padding-top: 1.25rem;
  }

  .top-footer {
    padding-bottom: 1.4375rem;
  }

  .menu-social {
    -webkit-column-gap: 2.125rem;
       -moz-column-gap: 2.125rem;
            column-gap: 2.125rem;
  }

  .page-hero__title {
    font-size: 1.875rem;
  }

  .page-hero__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .page-hero__text {
    font-size: 0.875rem;
  }

  .page-hero__text:not(:last-child) {
    margin-bottom: 1.3125rem;
  }

  .variants-advantages__title {
    font-size: 1rem;
  }

  .variants-advantages__text {
    font-size: 1rem;
  }

  .content-advantages__image {
    width: 18.125rem;
  }

  .content-advantages__title {
    font-size: 1.5rem;
  }

  .content-advantages__title:not(:last-child) {
    margin-bottom: 0.875rem;
  }

  .content-advantages__text {
    font-size: 1rem;
  }

  .cards-products__title {
    font-size: 1.5rem;
  }

  .cards-products__count:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  .cards-products__text {
    font-size: 1rem;
  }

  .box-partners__item {
    height: 5rem;
  }
}

@media (max-width: 47.99875em) {
  .header {
    position: relative;
  }

  .header::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #DDDDDD;
    position: absolute;
    top: 50%;
  }

  .header__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 6.625rem;
  }

  .menu-header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .cards-products__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 43.125em) {
  .variants-advantages__item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .variants-advantages__image {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }

  .content-advantages__image {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }

  .box-partners__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 1.875rem);
            flex: 0 0 calc(50% - 1.875rem);
  }

  .sketchbook__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    max-height: 100%;
  }

  .sketchbook__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    grid-column: 1/-1;
    overflow: visible;
  }
}

@media (max-width: 31.875em) {
  .page-hero {
    padding: 3.125rem 0;
  }

  .page-hero__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .page-hero__img {
    display: none;
  }

  .content-advantages {
    display: block;
  }

  .box-partners__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .box-partners__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 9.375rem;
            flex: 0 0 9.375rem;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }

  .menu-header {
    position: fixed;
    z-index: 4;
    top: 3.125rem;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 4.0625rem 0.9375rem 0.9375rem;
    background-color: #D1D1E5;
    color: #4C5866;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 3.125rem;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu-header {
    left: 0;
    overflow: auto;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.25rem;
    height: 1rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #4C5866;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .top-footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.75rem;
    position: relative;
  }

  .top-footer__inner::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: rgba(221, 221, 221, 0.2);
    position: absolute;
    top: 50%;
  }

  .variants-advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem 0;
  }

  .variants-advantages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .variants-advantages__image {
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }

  .cards-products__list {
    -ms-grid-columns: 19.0625rem;
    grid-template-columns: 19.0625rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .cards-products__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 29.99875em) and (max-width: 29.99875em) {
  .icon-menu {
    margin-right: auto;
  }
}

@media (min-width: 20em) and (max-width: 43.125em) {
@supports (width: clamp( 9rem , 3rem  +  30vw , 15.9375rem )) {
    .page-btn {
      width: clamp( 9rem , 3rem  +  30vw , 15.9375rem );
    }
}

@supports not (width: clamp( 9rem , 3rem  +  30vw , 15.9375rem )) {
    .page-btn {
      width: calc(9rem + 6.9375 * (100vw - 20rem) / 23.125);
    }
}

@supports (height: clamp( 5rem , 2.4594594595rem  +  12.7027027027vw , 7.9375rem )) {
    .box-partners__item {
      height: clamp( 5rem , 2.4594594595rem  +  12.7027027027vw , 7.9375rem );
    }
}

@supports not (height: clamp( 5rem , 2.4594594595rem  +  12.7027027027vw , 7.9375rem )) {
    .box-partners__item {
      height: calc(5rem + 2.9375 * (100vw - 20rem) / 23.125);
    }
}
}

@media (min-width: 20em) and (max-width: 71.25em) {
@supports (font-size: clamp( 1.125rem , 1.0762195122rem  +  0.243902439vw , 1.25rem )) {
    .page-btn {
      font-size: clamp( 1.125rem , 1.0762195122rem  +  0.243902439vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0762195122rem  +  0.243902439vw , 1.25rem )) {
    .page-btn {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 3.75rem , 3.0182926829rem  +  3.6585365854vw , 5.625rem )) {
    .section {
      padding-top: clamp( 3.75rem , 3.0182926829rem  +  3.6585365854vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 3.0182926829rem  +  3.6585365854vw , 5.625rem )) {
    .section {
      padding-top: calc(3.75rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 3.0182926829rem  +  3.6585365854vw , 5.625rem )) {
    .section {
      padding-bottom: clamp( 3.75rem , 3.0182926829rem  +  3.6585365854vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 3.0182926829rem  +  3.6585365854vw , 5.625rem )) {
    .section {
      padding-bottom: calc(3.75rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (max-width: clamp( 9.375rem , 7.5701219512rem  +  9.0243902439vw , 14rem )) {
    .searh-button__input.active {
      max-width: clamp( 9.375rem , 7.5701219512rem  +  9.0243902439vw , 14rem );
    }
}

@supports not (max-width: clamp( 9.375rem , 7.5701219512rem  +  9.0243902439vw , 14rem )) {
    .searh-button__input.active {
      max-width: calc(9.375rem + 4.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.9817073171rem  +  1.3414634146vw , 1.9375rem )) {
    .top-footer {
      padding-top: clamp( 1.25rem , 0.9817073171rem  +  1.3414634146vw , 1.9375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.9817073171rem  +  1.3414634146vw , 1.9375rem )) {
    .top-footer {
      padding-top: calc(1.25rem + 0.6875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.4375rem , 1.2423780488rem  +  0.9756097561vw , 1.9375rem )) {
    .top-footer {
      padding-bottom: clamp( 1.4375rem , 1.2423780488rem  +  0.9756097561vw , 1.9375rem );
    }
}

@supports not (padding-bottom: clamp( 1.4375rem , 1.2423780488rem  +  0.9756097561vw , 1.9375rem )) {
    .top-footer {
      padding-bottom: calc(1.4375rem + 0.5 * (100vw - 20rem) / 51.25);
    }
}

@supports ((-moz-column-gap: clamp( 2.125rem , 2.1006097561rem  +  0.1219512195vw , 2.1875rem )) or (column-gap: clamp( 2.125rem , 2.1006097561rem  +  0.1219512195vw , 2.1875rem ))) {
    .menu-social {
      -webkit-column-gap: clamp( 2.125rem , 2.1006097561rem  +  0.1219512195vw , 2.1875rem );
         -moz-column-gap: clamp( 2.125rem , 2.1006097561rem  +  0.1219512195vw , 2.1875rem );
              column-gap: clamp( 2.125rem , 2.1006097561rem  +  0.1219512195vw , 2.1875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 2.125rem , 2.1006097561rem  +  0.1219512195vw , 2.1875rem )) or (column-gap: clamp( 2.125rem , 2.1006097561rem  +  0.1219512195vw , 2.1875rem ))) {
    .menu-social {
      -webkit-column-gap: calc(2.125rem + 0.0625 * (100vw - 20rem) / 51.25);
         -moz-column-gap: calc(2.125rem + 0.0625 * (100vw - 20rem) / 51.25);
              column-gap: calc(2.125rem + 0.0625 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .page-hero__title {
      font-size: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .page-hero__title {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .page-hero__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .page-hero__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7774390244rem  +  0.487804878vw , 1.125rem )) {
    .page-hero__text {
      font-size: clamp( 0.875rem , 0.7774390244rem  +  0.487804878vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7774390244rem  +  0.487804878vw , 1.125rem )) {
    .page-hero__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 1.3125rem , 1.0929878049rem  +  1.0975609756vw , 1.875rem )) {
    .page-hero__text:not(:last-child) {
      margin-bottom: clamp( 1.3125rem , 1.0929878049rem  +  1.0975609756vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.3125rem , 1.0929878049rem  +  1.0975609756vw , 1.875rem )) {
    .page-hero__text:not(:last-child) {
      margin-bottom: calc(1.3125rem + 0.5625 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem )) {
    .variants-advantages__title {
      font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem )) {
    .variants-advantages__title {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem )) {
    .variants-advantages__text {
      font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem )) {
    .variants-advantages__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1.5rem , 1.1097560976rem  +  1.9512195122vw , 2.5rem )) {
    .content-advantages__title {
      font-size: clamp( 1.5rem , 1.1097560976rem  +  1.9512195122vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.1097560976rem  +  1.9512195122vw , 2.5rem )) {
    .content-advantages__title {
      font-size: calc(1.5rem + 1 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 0.875rem , 0.7286585366rem  +  0.7317073171vw , 1.25rem )) {
    .content-advantages__title:not(:last-child) {
      margin-bottom: clamp( 0.875rem , 0.7286585366rem  +  0.7317073171vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.875rem , 0.7286585366rem  +  0.7317073171vw , 1.25rem )) {
    .content-advantages__title:not(:last-child) {
      margin-bottom: calc(0.875rem + 0.375 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem )) {
    .content-advantages__text {
      font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem )) {
    .content-advantages__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3536585366rem  +  0.7317073171vw , 1.875rem )) {
    .cards-products__title {
      font-size: clamp( 1.5rem , 1.3536585366rem  +  0.7317073171vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3536585366rem  +  0.7317073171vw , 1.875rem )) {
    .cards-products__title {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 0.25rem , 0.1524390244rem  +  0.487804878vw , 0.5rem )) {
    .cards-products__count:not(:last-child) {
      margin-bottom: clamp( 0.25rem , 0.1524390244rem  +  0.487804878vw , 0.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.25rem , 0.1524390244rem  +  0.487804878vw , 0.5rem )) {
    .cards-products__count:not(:last-child) {
      margin-bottom: calc(0.25rem + 0.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem )) {
    .cards-products__text {
      font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9512195122rem  +  0.243902439vw , 1.125rem )) {
    .cards-products__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 51.25);
    }
}
}

@media (min-width: 48em) and (max-width: 71.25em) {
@supports ((-moz-column-gap: clamp( 1.25rem , -3.9112903226rem  +  10.752688172vw , 3.75rem )) or (column-gap: clamp( 1.25rem , -3.9112903226rem  +  10.752688172vw , 3.75rem ))) {
    .menu-header {
      -webkit-column-gap: clamp( 1.25rem , -3.9112903226rem  +  10.752688172vw , 3.75rem );
         -moz-column-gap: clamp( 1.25rem , -3.9112903226rem  +  10.752688172vw , 3.75rem );
              column-gap: clamp( 1.25rem , -3.9112903226rem  +  10.752688172vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -3.9112903226rem  +  10.752688172vw , 3.75rem )) or (column-gap: clamp( 1.25rem , -3.9112903226rem  +  10.752688172vw , 3.75rem ))) {
    .menu-header {
      -webkit-column-gap: calc(1.25rem + 2.5 * (100vw - 48rem) / 23.25);
         -moz-column-gap: calc(1.25rem + 2.5 * (100vw - 48rem) / 23.25);
              column-gap: calc(1.25rem + 2.5 * (100vw - 48rem) / 23.25);
    }
}

@supports (margin-right: clamp( 1.25rem , -3.9112903226rem  +  10.752688172vw , 3.75rem )) {
    .menu-header {
      margin-right: clamp( 1.25rem , -3.9112903226rem  +  10.752688172vw , 3.75rem );
    }
}

@supports not (margin-right: clamp( 1.25rem , -3.9112903226rem  +  10.752688172vw , 3.75rem )) {
    .menu-header {
      margin-right: calc(1.25rem + 2.5 * (100vw - 48rem) / 23.25);
    }
}
}

@media (min-width: 31.875em) and (max-width: 71.25em) {
@supports (padding-top: clamp( 1.25rem , -0.7738095238rem  +  6.3492063492vw , 3.75rem )) {
    .page-hero {
      padding-top: clamp( 1.25rem , -0.7738095238rem  +  6.3492063492vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.7738095238rem  +  6.3492063492vw , 3.75rem )) {
    .page-hero {
      padding-top: calc(1.25rem + 2.5 * (100vw - 31.875rem) / 39.375);
    }
}

@supports (height: clamp( 31.25rem , 28.2142857143rem  +  9.5238095238vw , 35rem )) {
    .page-hero__img {
      height: clamp( 31.25rem , 28.2142857143rem  +  9.5238095238vw , 35rem );
    }
}

@supports not (height: clamp( 31.25rem , 28.2142857143rem  +  9.5238095238vw , 35rem )) {
    .page-hero__img {
      height: calc(31.25rem + 3.75 * (100vw - 31.875rem) / 39.375);
    }
}

@supports (row-gap: clamp( 1.875rem , 0.3571428571rem  +  4.7619047619vw , 3.75rem )) {
    .cards-products__list {
      row-gap: clamp( 1.875rem , 0.3571428571rem  +  4.7619047619vw , 3.75rem );
    }
}

@supports not (row-gap: clamp( 1.875rem , 0.3571428571rem  +  4.7619047619vw , 3.75rem )) {
    .cards-products__list {
      row-gap: calc(1.875rem + 1.875 * (100vw - 31.875rem) / 39.375);
    }
}

@supports (font-size: clamp( 1.5rem , 0.6904761905rem  +  2.5396825397vw , 2.5rem )) {
    .sketchbook__title {
      font-size: clamp( 1.5rem , 0.6904761905rem  +  2.5396825397vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.6904761905rem  +  2.5396825397vw , 2.5rem )) {
    .sketchbook__title {
      font-size: calc(1.5rem + 1 * (100vw - 31.875rem) / 39.375);
    }
}

@supports (font-size: clamp( 1rem , 0.8988095238rem  +  0.3174603175vw , 1.125rem )) {
    .sketchbook__text {
      font-size: clamp( 1rem , 0.8988095238rem  +  0.3174603175vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8988095238rem  +  0.3174603175vw , 1.125rem )) {
    .sketchbook__text {
      font-size: calc(1rem + 0.125 * (100vw - 31.875rem) / 39.375);
    }
}
}

@media (min-width: 43.125em) and (max-width: 71.25em) {
@supports (margin-right: clamp( 1.875rem , -7.2291666667rem  +  21.1111111111vw , 7.8125rem )) {
    .page-hero__text {
      margin-right: clamp( 1.875rem , -7.2291666667rem  +  21.1111111111vw , 7.8125rem );
    }
}

@supports not (margin-right: clamp( 1.875rem , -7.2291666667rem  +  21.1111111111vw , 7.8125rem )) {
    .page-hero__text {
      margin-right: calc(1.875rem + 5.9375 * (100vw - 43.125rem) / 28.125);
    }
}

@supports (width: clamp( 20.625rem , -17.7083333333rem  +  88.8888888889vw , 45.625rem )) {
    .content-advantages__image {
      width: clamp( 20.625rem , -17.7083333333rem  +  88.8888888889vw , 45.625rem );
    }
}

@supports not (width: clamp( 20.625rem , -17.7083333333rem  +  88.8888888889vw , 45.625rem )) {
    .content-advantages__image {
      width: calc(20.625rem + 25 * (100vw - 43.125rem) / 28.125);
    }
}

@supports (height: clamp( 5rem , -0.2708333333rem  +  12.2222222222vw , 8.4375rem )) {
    .box-partners__item {
      height: clamp( 5rem , -0.2708333333rem  +  12.2222222222vw , 8.4375rem );
    }
}

@supports not (height: clamp( 5rem , -0.2708333333rem  +  12.2222222222vw , 8.4375rem )) {
    .box-partners__item {
      height: calc(5rem + 3.4375 * (100vw - 43.125rem) / 28.125);
    }
}

@supports (padding-top: clamp( 3.75rem , 0.875rem  +  6.6666666667vw , 5.625rem )) {
    .sketchbook {
      padding-top: clamp( 3.75rem , 0.875rem  +  6.6666666667vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 0.875rem  +  6.6666666667vw , 5.625rem )) {
    .sketchbook {
      padding-top: calc(3.75rem + 1.875 * (100vw - 43.125rem) / 28.125);
    }
}

@supports (padding-bottom: clamp( 0.00000625rem , 9.4999904167rem  +  -13.3333111111vw , 3.75rem )) {
    .sketchbook {
      padding-bottom: clamp( 0.00000625rem , 9.4999904167rem  +  -13.3333111111vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.00000625rem , 9.4999904167rem  +  -13.3333111111vw , 3.75rem )) {
    .sketchbook {
      padding-bottom: calc(3.75rem + -3.75 * (100vw - 43.125rem) / 28.125);
    }
}

@supports (padding-top: clamp( 0.00000625rem , -2.2999841667rem  +  5.3333111111vw , 1.5rem )) {
    .sketchbook__title {
      padding-top: clamp( 0.00000625rem , -2.2999841667rem  +  5.3333111111vw , 1.5rem );
    }
}

@supports not (padding-top: clamp( 0.00000625rem , -2.2999841667rem  +  5.3333111111vw , 1.5rem )) {
    .sketchbook__title {
      padding-top: calc(0.00000625rem + 1.5 * (100vw - 43.125rem) / 28.125);
    }
}

@supports (margin-bottom: clamp( 0.5rem , 3.9833333333rem  +  -4.8888888889vw , 1.875rem )) {
    .sketchbook__title:not(:last-child) {
      margin-bottom: clamp( 0.5rem , 3.9833333333rem  +  -4.8888888889vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.5rem , 3.9833333333rem  +  -4.8888888889vw , 1.875rem )) {
    .sketchbook__title:not(:last-child) {
      margin-bottom: calc(1.875rem + -1.375 * (100vw - 43.125rem) / 28.125);
    }
}
}

@media (min-width: 20em) and (max-width: 31.875em) {
@supports (width: clamp( 18.125rem , 13.9144736842rem  +  21.0526315789vw , 20.625rem )) {
    .content-advantages__image {
      width: clamp( 18.125rem , 13.9144736842rem  +  21.0526315789vw , 20.625rem );
    }
}

@supports not (width: clamp( 18.125rem , 13.9144736842rem  +  21.0526315789vw , 20.625rem )) {
    .content-advantages__image {
      width: calc(18.125rem + 2.5 * (100vw - 20rem) / 11.875);
    }
}
}

@media (any-hover: hover) {
  .page-btn:hover {
    background-color: #7875FE;
    color: #fff;
  }

  .menu-header__link:hover {
    color: #7875FE;
  }

  .no-webp .searh-button__icon:hover{
    background-image: url(../img/icons/Search-hover.png); }

  .searh-button__close:hover {
    background-color: #7875FE;
    color: #fff;
  }

  .no-webp .log-in-button__btn:hover{
    background-image: url(../img/icons/log-in-hover.png); }

  .menu-social__item:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }

  .variants-advantages__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .content-advantages__image:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .cards-products__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .cards-products__link:hover {
    color: #4946B4;
  }

  .cards-products__link:hover::after {
    content: url(../img/icons/Arrow-hover.svg);
  }

  .box-partners__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (hover: none) {
  .page-btn:focus {
    background-color: #DAD9FB;
  }

  .page-btn:active {
    background-color: #4946B4;
    color: #fff;
  }

  .menu-header__link:focus {
    background-color: #DAD9FB;
  }

  .menu-header__link:active {
    color: #4946B4;
  }

  .no-webp .searh-button__icon:focus{
    background-image: url(../img/icons/Search-focus.png); }

  .no-webp .searh-button__icon:active{
    background-image: url(../img/icons/Search-active.png); }

  .searh-button__close:focus {
    background-color: #DAD9FB;
    border-color: #7875FE;
  }

  .searh-button__close:active {
    background-color: #4946B4;
    border-color: #4946B4;
    color: #fff;
  }

  .no-webp .log-in-button__btn:focus{
    background-image: url(../img/icons/log-in-focus.png); }

  .no-webp .log-in-button__btn:active{
    background-image: url(../img/icons/log-in-active.png); }
}

.webp .searh-button__icon{ background-image: url(../img/icons/Search.webp); }

.webp .log-in-button__btn{ background: url(../img/icons/log-in.webp) 0 0/cover; }

@media (any-hover: hover){

  .webp .searh-button__icon:hover{ background-image: url(../img/icons/Search-hover.webp); }
}

@media (any-hover: hover){

  .webp .log-in-button__btn:hover{ background-image: url(../img/icons/log-in-hover.webp); }
}

@media (hover: none){

  .webp .searh-button__icon:focus{ background-image: url(../img/icons/Search-focus.webp); }
}

@media (hover: none){

  .webp .searh-button__icon:active{ background-image: url(../img/icons/Search-active.webp); }
}

@media (hover: none){

  .webp .log-in-button__btn:focus{ background-image: url(../img/icons/log-in-focus.webp); }
}

@media (hover: none){

  .webp .log-in-button__btn:active{ background-image: url(../img/icons/log-in-active.webp); }
}